**/node_modules/
!**/node_modules/.bin/iwallet #Except for iwallet bin

**/.idea

**/dist/
homepagev1/NioSoft/assets/img/.DS_Store
Conscience/contract-compiler/.idea/workspace.xml
Conscience/contract-compiler/.idea/workspace.xml
